
.place__paragraph {
  grid-area: place__paragraph;
  margin: 0;
  font-family: 'Inter-regular';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  align-self: start;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .place__paragraph {
    margin:0 16px;
  }
}



